body {
    display: grid;
    grid-template-areas:
        "side header"
        "aside main"
        "aside footer";
    grid-template-columns: 288px 1fr;
    grid-template-rows: auto 1fr auto;
    /* Header e Footer com altura automática */
    height: 100vh;
    /* Ocupa a altura total da tela */
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

.cabecalho {
    grid-area: header;
    background-color: #f2f2f2;
}

/* Div infos */
.infos {
    grid-area: side;
    background-color: #F2F2F2;
    border-right: 0px solid #ccc;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    height: 105px;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conf {
    display: flex;
    align-items: center;
    gap: 20px;

}

.info_liv {
    width: 50%;
    height: auto;
}

.btn {
    border: none;
    padding: 0;
    width: 40px;
    height: 35px;
}

.btn:hover {
    background-color: #C7C7C7;
    border-radius: 8px;
}

.toc {
    grid-area: aside;
    background-color: #F2F2F2;
    padding: 10px;
    border-right: 0px solid #ccc;
    overflow-y: auto;
}

.toc::-webkit-scrollbar {
    width: 8px;
}

.toc::-webkit-scrollbar-thumb {
    background: #F2F2F2;
    border-radius: 10px;
}

.toc::-webkit-scrollbar-thumb {
    background: #888;
    /* Cor do polegar */
    border-radius: 10px;
}

.leitor {
    grid-area: main;
    overflow: hidden;
}

.progresso {
    grid-area: footer;
    border-top: 1px solid #ccc;
    padding: 5px;
}

.menu-lateral {
    width: 228px;
}

#leitor {
    width: 100%;
    height: 100%;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.navegacao button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.navegacao button:hover {
    background-color: #e0e0e0;
}

#progresso-info {
    font-size: 14px;
    color: #555;
}

/* Estilo para a lista do sumário */
.toc #sumario-container ul {
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
    background-color: #F2F2F2;
}

.toc #sumario-container a {
    display: block;
    padding: 8px 5px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.toc #sumario-container a:hover {
    background-color: #E0E0E0;
    border-radius: 10px;
}

#context-menu {
    position: absolute;
    /* Essencial para o posicionamento funcionar! */
    display: none;
    /* Começa escondido */
    z-index: 1000;
    /* Garante que o menu fique sobre os outros elementos */
    background-color: #333;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#context-menu button {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#context-menu button:hover {
    background-color: #1a3f8b;
}

